<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<httpRequestBegin>
				<processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="Sitecore.Feature.Identity.Shibboleth.Pipelines.HttpRequest.UserResolver, Sitecore.Feature.Identity.Shibboleth" />
			</httpRequestBegin>
		</pipelines>
		<settings>
			<setting name="Sitecore.Feature.Identity.Shibboleth.AdminUserRole" value="admins" />
			<setting name="Sitecore.Feature.Identity.Shibboleth.HeaderKey" value="ShibIdentityProvider" />
			<setting name="Sitecore.Feature.Identity.Shibboleth.HeaderIdentityKey" value="uid" />
			<setting name="Sitecore.Feature.Identity.Shibboleth.HeaderEmailKey" value="email" />
			<setting name="Sitecore.Feature.Identity.Shibboleth.HeaderFirstNameKey" value="givenName" />
			<setting name="Sitecore.Feature.Identity.Shibboleth.HeaderLastNameKey" value="sn" />
			<setting name="IgnoreUrlPrefixes">
				<patch:attribute name="value">/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing|/sitecore/service/xdb/disabled.aspx|/Shibboleth.sso</patch:attribute>
			</setting>
		</settings>
	</sitecore>
</configuration>