<?xml version="1.0" encoding="utf-8"?>
<!--
  Identity.Shibboleth: This module does not require any special Web.config entries
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>